*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    color: #ffffff;
}
p{
    text-decoration:none;
}
.title{
    margin:auto;
}
h1{
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 60px;
    /* identical to box height, or 216% */
    
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #16568E 4.18%, #81A9CB 101.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    line-height:normal;
    }
    H2{
        font-size: 24px;
        font-weight: 400;
        display: flex;
    align-items: center;
    
    background: linear-gradient(90deg, #000000 4.18%, #868686 101.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0%;
   
    }

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3);
    gap: 2em; 

}

.card{
    margin: 1.5em;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Card_title {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 60px;
    /* identical to box height, or 216% */
    
    display: flex;
    padding: 10px 10px 10px 30px;
    gap: 10px;  
    background: linear-gradient(90deg, #16568E 4.18%, #81A9CB 101.92%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}
.card_description{
    color: #000000;
}

.card>a>img{
    width: 100%;
    border-radius: 25px;

}
.info{ 
    min-height:100px;
    min-width: 100px;
    display: flex;
}

.card>.info{
    
    font-size: 16px;
    margin: 30px 30px 0px 30px;
    max-height: 400px;
    max-width: 290px;
    color: black;
}

.button_card{
    float: right;
    margin:0px 20px 10px 10px;
}

button{
    
    background-color: rgba(22, 86, 142, 0);
    padding: 10px 39px 10px 39px;
    border-radius: 15px;
    color:  #16568E;
    transition: background-color 0.5s;
    border: 0ch;
    margin-top: 2em;
    cursor:pointer;
    
    
}
button:hover{
    
    background-color: rgba(58, 188, 203, 0);
    stroke: none;
    color: #16568E;
    border:1px, #16568E;
}

.drop{
    color: white;

}
@media (max-width:1000px)
{

    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5);
    }
}

@media (max-width:600px)
{

    .container{
    
    
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9);
    }
}

.card{
    margin-inline: 0em;
}

